
@{
    ViewData["Title"] = "Admin";
}

<h2 class="text-info">Добро пожаловать уважаемый администратор!</h2>
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="SelectProducts">Ok</a>


