
@{
    ViewData["Title"] = "Customer";
}
<h2 class="text-info">Добро пожаловать уважаемый клиент!</h2>
<a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="SelectProductsCustomer">Ok</a>