
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Products" asp-action="SelectProducts" class="navbar-brand">Продукты</a>
                    <a asp-area="" asp-controller="Categories" asp-action="SelectCategory" class="navbar-brand">Категории</a>
                    <a asp-area="" asp-controller="Products" asp-action="Basket" class="navbar-brand">Корзина</a>
                </div>
            </div>
        </nav>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CategoryName</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td>@category.CategoryName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="2">Пустой</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-area="" asp-controller="Categories" asp-action="Create">Добавить категория</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Categories" asp-action="Delete">Удалить категория</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Categories" asp-action="Update">Изменить категория</a>
    </body>
    </html>