@model MiniInternetMagazin.Models.GroceryStoreViewModels.Category
@{
    ViewData["Title"] = "Update";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Products" asp-action="SelectProducts" class="navbar-brand">Продукты</a>
            <a asp-area="" asp-controller="Categories" asp-action="SelectCategory" class="navbar-brand">Категории</a>
            <a asp-area="" asp-controller="Products" asp-action="Basket" class="navbar-brand">Корзина</a>
        </div>
    </div>
</nav>
<h4 class="text-info">Изменить категория по Id</h4>
<form method="post" action="~/Categories/Update">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="CategoryId">CategoryId</label><br />
                <input asp-for="CategoryId" type="number" class="form-control" placeholder="Введите Id" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="CategoryName">CategoryName</label><br />
                <input asp-for="CategoryName" type="text" class="form-control" placeholder="Новая имя категория" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Изменить" />
            </div>
        </div>
    </div>
</form>