
@{
    ViewData["Title"] = "Ok";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Products" asp-action="SelectProductsCustomer" class="navbar-brand">Продукты</a>
            <a asp-area="" asp-controller="Users" asp-action="Index" class="navbar-brand">Выход</a>
        </div>
    </div>
</nav>
<h2 class="text-info">Ваш заказ принят!</h2>

